<!DOCTYPE html>
<html>
	<head>
		<title>BlipBot - Chat Bot for Livestreamers</title>
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
		<link href="style.css" rel="stylesheet" type="text/css" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	
	<body>
		<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
		
		{{#if error}}
			<div class="error">{{error}}</div>
		{{/if}}
		
		<div class="banner">
			<header>
				<div class="header">
					<div class="container">
						<div class="nav">
							{{#if service}}
								<a href="/logout">Logout</a>
							{{/if}}
						</div>						
						<h1>BlipBot</h1>
					</div>
				</div>
			</header>
			
			<div class="container">
				<h1>{{title}}</h1>
			</div>
		</div>
		
		{{{body}}}
		
		<footer>
			<div class="footer container">
				<div class="right">
					<a href="http://www.flickr.com/photos/webtreatsetc/5436446554/">Photo has been altered under CC BY 2.0</a>
				</div>
				&copy; 2015 Dead-i
			</div>
		</footer>
	</body>
</html>