<div class="container">
	<div class="outer">
		<div class="half">
			<div class="content">
				<div class="title">
					<h3>Chat Logs</h3>
				</div>
				<div class="logs"></div>
			</div>
		</div>

		<div class="half">
			<div class="content">
				<div class="title">
					<h3>Modules</h3>
				</div>
				<ul class="modules">
					{{#each modules}}
						<li data-module="{{id}}">
							<a class="edit right"><span class="fa fa-wrench"></span> Configure</a>
							
							{{#if enabled}}
								<a class="state fa fa-check"></a>
							{{else}}
								<a class="state fa fa-times"></a>
							{{/if}}
							
							{{name}}
						</li>
					{{/each}}
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="modal">
	{{#each modules}}
		<div data-module="{{id}}">
			<h2>{{name}}</h2>
			<div class="module">
				{{description}}

				{{#if commands.length}}
					<h3>Commands</h3>
					{{#each commands}}
						<div class="command">!{{this}}</div>
					{{/each}}
				{{/if}}

				<div class="messages">
					<h3>Messages</h3>
					<div></div>
				</div>
				
				<div class="config">
					<h3>Configuration<span></span></h3>
					<form></form>
				</div>
			</div>
			
			<form class="add">
				<div class="fields"></div>
				<input type="submit" value="Add Item" />
				<a class="cancel btn normal">Cancel</a>
			</form>
		</div>
	{{/each}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
	var socket = io();
	socket.on('connect', function(data) {
		socket.emit('service', { type: '{{service.type}}' }, function() {
			console.log('connected!');
		});
	});
	
	socket.on('chat', function(data) {
		var $line = $('<div class="line chat"><span class="sender"></span><span class="message"></span></div>');
		$line.find('.sender').text(data.user.name + ':');
		$line.find('.message').text(data.msg);
		$line.appendTo($('.logs'));
		$('.logs').scrollTop($('.logs').scrollTop() + $line.height() + 24);
	});
	
	$('.modules li[data-module] .state').click(function() {
		var $btn = $(this);
		var disabled = $(this).hasClass('fa-times');
		socket.emit('modulestate', { id: $(this).parent().attr('data-module'), state: disabled }, function() {
			$btn.removeClass('fa-times fa-check').addClass(disabled ? 'fa-check' : 'fa-times');
		});
	});
	
	$('.modules li[data-module] .edit').click(function() {
		var $modal = $('.modal > div[data-module="' + $(this).parent().attr('data-module') + '"]');
		refreshModule($modal, function() {
			$modal.show().parent().fadeIn(300);
		});
	});
	
	$('.modal > div').on('click', '.messages > h3 .fa-plus', function() {
		var $modal = $(this).closest('.modal > div');
		$modal.find('.module').fadeOut(300, function() {
			$modal.find('.add').fadeIn(300);
		});
	});
	
	$('.modal .add').submit(function(e) {
		e.preventDefault();
		
		var $modal = $(this).parent();
		var data = { id: $modal.attr('data-module') };
		$(this).serializeArray().forEach(function(input) {
			data[input.name] = input.value;
		});
		
		socket.emit('addconfig', data, function() {
			refreshModule($modal, function() {
				$modal.find('.add .cancel').click();
			});
		});
	});
	
	$('.modal .add .cancel').click(function() {
		$(this).parent().fadeOut(300, function() {
			$(this).closest('.modal > div').find('.module').fadeIn(300);
		});
	});
	
	$('.modal > div').on('click', 'li .remove', function() {
		$modal = $(this).closest('.modal > div');
		socket.emit('removeconfig', { id: $modal.attr('data-module'), message: $(this).parent().attr('data-id') }, function() {
			refreshModule($modal);
		});
	});
	
	$('.modal .config').on('keyup change', 'input', function() {
		var $status = $(this).closest('.config').find('h3').find('span');
		$status.text('Saving changes...');
		
		var data = { id: $(this).closest('.modal > div').attr('data-module'), config: {} };
		$(this).closest('form').find('input').each(function() {
			data.config[$(this).attr('name')] = $(this).attr('type') == 'checkbox' ? $(this).prop('checked') : $(this).val();
		});
		console.log(data);
		
		socket.emit('setconfig', data, function(err) {
			$status.text(err || 'Changes saved.');
		});
	});
	
	$('.modal').click(function(e) {
		$(this).fadeOut(300, function() {
			$('.modal > div').hide();
		});
	});
	
	$('.modal > div').click(function(e) {
		e.stopPropagation();
	});
	
	function refreshModule($modal, cb) {
		socket.emit('getconfig', { id: $modal.attr('data-module') }, function(config, values) {
			if (config === undefined || config.length == 0) {
				$modal.find('.messages, .config').hide();
			}else{
				var $title = $modal.find('.messages > h3').hide();
				var $list = $modal.find('.messages > div').html('');
				$title.find('.fa').remove();
				
				if ('title' in config) {
					$title.text(config.title);
				}

				if ('items' in config) {
					$title.show();
					if (config.items.length == 0) {
						$list.html('<p>There are no items configured here yet. Go ahead and add one!</p>');
					}else{
						var $result = $('<ul></ul>');
						config.items.forEach(function(item) {
							$('<li></li>').attr('data-id', item.id).text(item.content).append('<a class="remove fa fa-times"></a>').appendTo($result);
						});
						$list.append($result);							
					}
				}

				if ('fields' in config) {
					var $fields = $modal.find('form.add .fields').html('');
					$title.append('<a class="fa fa-plus"></a>');
					config.fields.forEach(function(field) {
						$('<input type="text" />').attr('name', field.id).attr('placeholder', field.label).appendTo($fields);
					});
				}
				
				var $title = $modal.find('.config > h3');
				var $config = $modal.find('.config > form').html('');
				if ('config' in config) {
					$title.show();
					config.config.forEach(function(field) {
						$field = $('<div></div>');
						$('<label></label>').text(field.label + ':').appendTo($field);
						
						var value = values && field.id in values ? values[field.id] : field.default;
						$input = $('<input />').attr('type', field.type || 'text').attr('name', field.id).attr('value', value).appendTo($field);
						if (field.type == 'checkbox') {
							console.log(value);
							$input.prop('checked', value);
						}
						
						$field.appendTo($config);
					});
				}
			}
			
			if (cb !== undefined) {
				cb();
			}
		});
	}
</script>