@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700,300');

body {
	margin:0px auto;
}

body, input {
	font-family:Open Sans, Helvetica Neue, Arial, sans-serif;
}

h1, h2, h3 {
	font-weight:300;
}

input {
	padding:12px;
	border:solid 1px #ccc;
}

input[type="submit"], .btn {
	background-color:#41007a;
	border-color:rgba(0, 0, 0, 0.2);
	font-size:14px;
	color:#fff;
	padding:12px 24px;
	opacity:0.8;
	transition:opacity .5s ease;
	cursor:default;
}

input[type="submit"]:hover, .btn:hover {
	opacity:0.9;
}

pre {
	color:#41007a;
	border:dashed 1px #41007a;
	border-radius:5px;
	padding:12px;
}

.error {
	position:fixed;
	top:0px;
	right:0px;
	left:0px;
	background-color:#d35555;
	color:#fff;
	padding:12px;
	z-index:999;
}

.btn {
	padding:13px 24px;
}

.btn.normal {
	background-color:#ccc;
	color:#000;
}

.banner {
	background-image:url('bg.png');
	border-bottom:solid 9px rgba(65, 0, 122, 1);
}

.banner > .container {
	padding:24px 0px;
	color:#fff;
}

.banner .welcome {
	text-align:center;
}

.banner .welcome h1 {
	font-size:42px;
}

.banner .welcome h2 {
	margin:0px 0px 64px 0px;
}

.banner .signup input[type="text"] {
	min-width:400px;
	box-shadow:0px 0px 20px 8px rgba(0, 0, 0, 0.5);
	border:none;
	font-size:18px;
	outline:none;
	margin-bottom:16px;
}

.banner input[type="submit"] {
	border:none;
	padding:16px 24px 14px 24px;
}

.banner .header {
	background-color:rgba(65, 0, 122, 0.9);
	background:linear-gradient(0deg, rgba(65, 0, 122, 0.4), rgba(65, 0, 122, 0.9));
	color:#fff;
	overflow:hidden;
}

.banner .header h1 {
	font-size:24px;
	margiN:9px 0px 12px 0px;
}

.banner .header .nav, .right {
	float:right;
}

.banner .header .nav a {
	display:inline-block;
	color:#fff;
	text-decoration:none;
	padding:6px 0px;
}

.container {
	width:1000px;
	margin:0px auto;
}

.features {
	overflow:hidden;
}

.features > div {
	width:25%;
	text-align:center;
	padding:32px 12px;
	box-sizing:border-box;
	float:left;
}

.features > div h3 {
	font-size:22px;
	margin:32px 32px 0px 32px;
}

.features > div .fa {
	color:rgba(65, 0, 122, 1);
}

.features > div p {
	font-size:13px;	
}

.login {
	width:360px;
	margin:32px auto;
}

.login label {
	display:block;
	color:#aaa;
	margin:3px 0px;
}

.login input[type="text"], .login input[type="password"] {
	width:100%;
	margin-bottom:16px;
}

.container .outer {
	margin:0px -16px;
	overflow:hidden;
}

.half, .third, .quarter {
	float:left;
	box-sizing:border-box;
	padding:0px 16px;
}

.half {
	width:50%;
}

.content {
	border:solid 1px #ccc;
	border-radius:4px;
	font-size:14px;
	margin:32px 0px;
}

.content .title {
	background-color:#eee;
	border-bottom:solid 1px #ccc;
	padding:9px;
}

.content .title h3 {
	font-size:18px;
	margin:4px;
}

.content .title .fa {
	background-color:#f6f6f6;
	border:solid 1px #ccc;
	border-radius:4px;
	padding:8px;
	float:right;
	opacity:0.8;
}

.content .title .fa:hover {
	opacity:0.9;
}

.content > ul, .modal ul {
	list-style-type:none;
	padding:0px;
	margin:0px;
}

.content > ul li {
	border-bottom:solid 1px #e6e6e6;
	padding:12px;
}

.content > ul li:last-child {
	border-bottom:none;
}

.content > ul li .fa, .modal li .fa {
	width:24px;
	opacity:0.8;
	margin:3px 0px 0px 0px;
}

.content > ul li .fa.right, .modal li .fa {
	width:auto;
	float:right;
	margin-left:12px;
}

.content > ul li .fa:hover, .modal li .fa:hover {
	opacity:1;
}

.content > ul li .fa-check {
	color:#1f671f;
}

.content > ul li .fa-times {
	color:#911f1f;
}

.content .logs {
	height:395px;
	overflow-y:auto;
}

.content .chat.line {
	padding:12px;
}

.content .chat.line .sender {
	display:inline-block;
	min-width:100px;
}

.modal {
	display:none;
	position:fixed;
	top:0px;
	right:0px;
	bottom:0px;
	left:0px;
	background-color:rgba(0, 0, 0, 0.8);
}

.modal a {
	text-decoration:none;
	color:#666;
}

.modal a:hover {
	text-decoration:underline;
}

.modal > div {
	display:none;
	width:480px;
	background-color:#fff;
	border-radius:4px;
	padding:16px;
	margin:128px auto;
}

.modal > div[data-modal="login"] {
	width:320px;
}

.modal > div[data-modal="offline"] .fa {
	font-size:128px;
	color:#41007a;
	float:right;
	margin:20px 20px;
}

.modal h2 {
	margin-top:0px;
}

.modal h3 {
	padding:9px 0px;
	margin:12px 0px 0px 0px;
	border-bottom:solid 1px #eee;
}

.modal h3 .fa {
	float:right;
	margin:4px 0px 4px 8px;
	opacity:0.8;
}

.modal h3 .fa:hover {
	opacity:1;
}

.modal h3 span {
	font-size:12px;
	color:#ccc;
	float:right;
}

.modal .small {
	font-size:12px;
}

.modal .service {
	background-repeat:no-repeat;
	background-position:13px;
	padding-left:42px;
}

.modal .service[name="beam"] {
	background-image:url('../public/beamicon.png');
}

.modal .command, .modal li {
	border-bottom:solid 1px #eee;
	padding:9px 0px;
}

.modal form.add {
	display:none;
}

.modal input[type="text"], .modal input[type="password"], .modal input[type="email"] {
	width:100%;
	box-sizing:border-box;
	margin-bottom:9px;
}

.modal .config form > div {
	margin:6px 0px;
}

.modal .config form label {
	display:inline-block;
	padding:12px 0px;
}

.modal .config form input {
	width:33%;
	float:right;
}

.modal .config form input[type="checkbox"] {
	width:auto;
	margin:12px 0px;
}

.center {
	text-align:center;
}

.footer {
	border-top:solid 1px #ddd;
	font-size:12px;
	color:#aaa;
	padding:24px 0px;
}

.footer a {
	color:#aaa;
}